@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}
/*scrollbar start*/
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(254, 254, 254, 0.229);
  border-radius: 14px;
  border: 2px solid rgb(0, 0, 0);
}
/*scrollbar end*/

ul {
  list-style: '⭐ ';
}

li::marker {
  font-size: 14px;
}

.skillList{
  list-style: none;
  font-size: 16;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient-outline {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: black;
  background-clip: text;
  text-stroke: 4px transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-3 {
  background: linear-gradient(
    -168.39deg,
    #d3d2d2 -278.56%,
    #6d6d6d -78.47%,
    #0b0b0b 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.green__gradient {
  background: linear-gradient(90deg, #D9F4C4 0%, #A0FC67 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.white__gradient2 {
  background: rgba(255, 255, 255, 0.8);
  filter: blur(800px);
}

.white__gradient3 {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(250px);
}

.bleu__gradient {
  background: linear-gradient(90deg, #c4f0f4 0%, #67b6fc 100%);
  filter: blur(900px);
}

.slime__gradient {
  background: linear-gradient(0deg, #37ad41,#93F252,#93F252);
}

.slime__gradient {
  background: linear-gradient(0deg, #37ad41,#93F252,#93F252);
}

.slime2tone {
  background: linear-gradient(90deg, #35e205,#CCFB54);
}

.slime2toneInverse {
  background: linear-gradient(90deg, #CCFB54, #35e205);
}

.slime__gradient__2tone {
  background: linear-gradient(90deg, #35e205,#CCFB54);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.slime-text-gradient {
  background: linear-gradient(90deg, #01930d,#9ef801,#73b02e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.leftShadow {
  box-shadow: -20px 0 20px -5px #000000;
}

.rightShadow {
  box-shadow: 20px 0 20px -5px #000000;
}

/*Waving Hand*/
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( -16.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.gradientmoving{
  background-color: #171717;
}

.gradientmoving:hover{
  background-image: radial-gradient(
    circle farthest-side at var(--x, 50px) var(--y, 50px),
    #04a81752 0%,
    transparent
    
  );
}

.gradientmoving:before{
  filter: blur(900px);
  background: inherit;
}

MuxPlayer{
  border-radius: 20px;
}